// Admin theme style
@import "gentelella";

// Modules
@import "charts";
@import "wizard";
@import "form";
@import "singlepage";
@import "misc";

body {
   min-width: 1024px;
   width: auto !important;
}

.x_title h2 .btn-xs {
  margin-bottom: 0;
}

// fix gentelella modal footer button margin
.modal-footer button.btn {
  margin-bottom: 0;
}
